<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> 


<div class="container mt-4 ">
  <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mx-auto "style="margin-top:50px" >
          <form class="needs-validation" action="/products" method="POST" novalidate>
            <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Product Name" name="product[name]"required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  
                </div>
                
                <div class="mb-3">
                  <label for="img" class="form-label">Image Url</label>
                  <input type="text" class="form-control" id="img" placeholder="Image URL" name="product[img]"required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  
                </div>
                
                <div class="mb-3">
                  <label for="price" class="form-label">Price in $</label>
                  <input type="number" class="form-control" id="price" placeholder="Price" name="product[price]"required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  
                </div>
                
                <div class="mb-3">
                  <label for="desc" class="form-label">Description</label>
                  <textarea id="desc" class="form-control" cols="30" rows="5" name="product[desc]"required></textarea>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  
                </div>
                
                <div class="mb-3 text-center">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </form> 
              
              
    </div>
    
</div>



<%- include('../partials/footer') %> 